<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="continer">
                <div class="row my-5 justify-content-center">
                    <div class="col-7 text-center">
                        <p role="alert" class="fs-1 text-success">Error de acceso, pruebe con otra url.</p>
                    </div>
                </div>
            </div>
        </LayoutView>
    </NotFound>
</Router>
