@page "/procesadores"
@using FlaggGaming.Model
@layout HardwareLayout

<div class="row border border-dark">
    <div class="col-12 my-4 text-center border border-dark">
        <h2>PROCESADORES</h2>
    </div>
    <div class="col mx-2 border border-dark">
        <table class="table table-hover table-striped table-danger text-center">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Fecha de lanzamiento</th>
                    <th scope="col">Cantidad de núcleos</th>
                    <th scope="col">Frecuencia turbo máxima</th>
                    <th scope="col">Caché</th>
                    <th scope="col">Gráficos del procesador</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach(Procesador item in listaProcesadores)
                {
                    <tr>
                        <td>@item.urlImagen</td>
                        <td>@item.fechaLanzamiento</td>
                        <td>@item.nucleos</td>
                        <td>@item.frecuenciaTurbo</td>
                        <td>@item.cache</td>
                        <td>@item.graficos</td>
                        <td>
                            $550.000
                            PRECIO
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@code {
    private List<Procesador> listaProcesadores = new();
    private Procesador procesador1 = new("/imagenes/procesadores.jpg", "Q1'23","5","4.30 GHZ","8 MB INTEL Smart Cache","Gráficos UHD Intel para procesadores Intel de 13a Generación");
    
    protected override void OnInitialized()
    {
        listaProcesadores.Add(procesador1);
        listaProcesadores.Add(procesador1);
        listaProcesadores.Add(procesador1);
        listaProcesadores.Add(procesador1);
    }
}
