<div class="row bg-white">
    <div class="col-12">
        <h2 class="fs-3">Información Tienda</h2>
    </div>
    <hr />
    <div class="col-12 mb-3"><h3 class="fs-5 fw-bold">@unProducto.IdTiendaNavigation.Name</h3></div>
    <div class="col-4">
        <div class="row">
            <span class="fw-semibold">Dirección:</span><p class="fs-6">@unProducto.IdTiendaNavigation.Dir</p>
        </div>
        <div class="row">
            <span class="fw-semibold">Teléfono de tienda:</span><p class="fs-6">@unProducto.IdTiendaNavigation.Tel</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <span class="fw-semibold">Días de atención:</span><p class="fs-6">@unProducto.IdTiendaNavigation.Days</p>
        </div>
        <div class="row">
            <span class="fw-semibold">Horario de atención:</span><p class="fs-6">@unProducto.IdTiendaNavigation.Hr</p>
        </div>
    </div>
    <div class="col-4">
        <div class="row">
            <span class="fw-semibold">Mail:</span><p class="fs-6">@unProducto.IdTiendaNavigation.Mail</p>
        </div>
        <div class="row">
            <span class="fw-semibold">Instagram:</span><p class="fs-6">@unProducto.IdTiendaNavigation.Insta</p>
        </div>
    </div>
</div>

@code {
    [Parameter] public FlaggGaming.Model.tienda.Producto unProducto { get; set; }
}