@page "/juego/{idJuegoFlagg}"
@using FlaggGaming.Pages.componentesJuego
@using FlaggGaming.Pages.componentesIndex
@using FlaggGaming.Model.juegoFlagg
@inject FlaggGaming.Entity.DatosContext datosService

@*<Carousel />*@

<div class="row">
    <div class="col">
        <TituloEImagen imagenJuego="@unJuegoFlagg.imagen" tituloJuego="@unJuegoFlagg.nombre"/>
    </div>
    <div class="col">
        <SteamEpic unJuegoFlagg="@unJuegoFlagg"/>
    </div>
</div>

<Requisitos descripcionJuego="@unJuegoFlagg.descripcionCorta" requisitosJuego="@unJuegoFlagg.requisitos"/>

@code {
    [Parameter] public string? idJuegoFlagg { get; set; }
    public JuegoFlagg unJuegoFlagg;

    protected override void OnInitialized()
    {
        unJuegoFlagg = datosService.listaJuegosData.Where(game => game.idFlagg == new Guid(idJuegoFlagg)).FirstOrDefault();
        unJuegoFlagg.contadorVistas++;
        datosService.Update(unJuegoFlagg);
        datosService.SaveChanges();
    }
}
